
.col-md-5{
    &.left-bar{
        border-right: 1.5px solid #efefef;
        
    }

}
.margin{
    margin-top: 30px;
}
.font{
    font-size: 20px;
}
.details__page {
    text-align: center;
    img {
    
        width: 210px;
        height: 210px;
        border-radius: 50%;
    }
}
.opacity{
    color: #d0d0d0;
}
.opacity1{
    opacity: 0.8;
}
.profile__details{
    display: flex;
    flex-direction: column;

}
.name{
    padding: 10px 0px;
}
.details__person{
    border-bottom: 1.5px solid #efefef;
    padding-left: 100px;
    padding:20px 0px;
    .row{
        line-height: 40px;
        .col-md-4{
            text-align: right;
            span {
                margin-left: 5px;
            }
        }
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.details__company{
    padding-top: 20px;
}
.details__company1{
    .row{
        line-height: 40px;
        .col-md-4{
            text-align: right;
            span {
                margin-left: 5px;
            }
        }
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
        .co{
            margin-left: 2px;
        }
    }
}

.address__details{
    .row{
        line-height: 40px;
        .col-md-3{
            text-align: right;
            span {
                margin-left: 5px;
            }
        }
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
        .co{
            margin-left: 2px;
        }
    }
}

.col-md-7{

    .details__page{
        text-align: start;
        padding-left: 30px;
        line-height: 40px;
    }
   
}
.details__company1{
    padding: 0px;
}




    

