<div class="boby__main">
  <div class="background__img">

    <img [src]="BackgrounUrl" alt="Background.png">
  
  </div> 
  <div class="body__card">
    <div class="card" style="width: 30rem;">
      <div class="card-header">
         Select an account
      </div>
      <div class="profile__list"></div>
      <ul class="list-group list-group-flush">

        <li class="list-group-item"  *ngFor="let name of profileList"><img [src]="BackgrounUrl" alt="Background.png" width="30px" height="20px">
          {{name}}</li>

      </ul>
    </div>

  </div>
  <!-- end of the card -->
</div>


