.background__img img{
    width: 100%;
}
.background__img{
    position: absolute;
}
.card{
    position: relative;
    // margin-left: 146px;
    // top: 50px;
    // border-radius: 20px;
    
}
.card-header{
    text-align: center;
}
.h{
    display: inline;
}

