
*{
    text-decoration: none;
    list-style: none;
    
}
.verticle__navbar{
    background-color: #4152c8;
    margin-left: 40px;
    height: 50vw; 
    border-radius: 20px;
    width: 184px;
    .tab {
        font-size: 32px !important;
        line-height: 52px;
    }
}
.row{
    margin: 30px 0px;
}
.nav{
    padding-top: 300px;
}
.sidebar-nav ul li{
    padding:10px 10px 0px 0px;
    border-bottom: 1px solid #5a5ccd;
    margin-left: 20px;
}
.sidebar-nav ul li {
    font-size: 15px;
    
    color: white;
}

.active-tab {
    background-image: url("../../assets//active.ping");
    background-repeat: no-repeat;
    background-position: 111px;
}




