<div class="row">
    <div class="col-md-2">
        <!-- details left side bar blue onle -->
        <div class="sidebar-nav verticle__navbar">
            <ul class="nav navbar-nav" >
                    <li (click)="updateTitle('Profile')" class="active" [routerLink]="['detail']"> Profile </li>
                    <li (click)="updateTitle('Posts')" class="active" [routerLink]="['posts']"> Posts </li>
                    <li (click)="updateTitle('Gallery')" class="active" [routerLink]="['gallery']"> Gallery </li>
                    <li (click)="updateTitle('Todo')" class="active" [routerLink]="['todo']"> Todo </li>
            </ul>
        </div>
    </div>

    <div class="col-md-10">
        <div class="profile__heading">
           <strong> {{ title}} </strong>
        </div>
        
        <router-outlet></router-outlet>
        
    </div>
  
    
    
</div>


