
*{
    text-decoration: none;
    list-style: none;
    
}
.verticle__navbar{
    background-color: #4152c8;
    margin-left: 40px;
    height: 45vw; 
    border-radius: 20px;

}
.row{
    margin: 30px 0px;
}
.nav{
    padding-top: 300px;
}
.sidebar-nav ul li{
    padding:10px 10px 0px 0px;
    border-bottom: 1px solid #5a5ccd;
     margin: 0 20px; 
}
.sidebar-nav ul li {
    font-size: 15px;
    
    color: white;
}
.profile__heading{
    border-bottom: 1px solid #efefef;
    padding: 20px 0px;

}




